#mypic {
  width: 10%;
  height: 20%;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  }

/* Global */

a {
 /* color: #101010;*/
  transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  -webkit-transition: .2s ease-in-out;
  text-decoration: none;
}

a:visited {
  color: #101010;
}

a:hover {
  transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  -webkit-transition: .2s ease-in-out;
  color: #850049;
}
body {
  margin: 0;
  padding: 0;
  color: #101010;
  font-family: Helvetica, Arial;
}

.posts {
  list-style-type: none;
}

/* Layout */

.sidebar {
  width: 200px;
  padding: 25px;
  margin-top: 125px;
  float:left;
}

.sidebar .icons div {
  display: inline;
}

.sidebar .icons .icon {
  vertical-align: middle;
  width: 32px;
}

.content {
  background: #ADB1BA;
  margin-left: 250px;
  padding: 75px 25px;
  position: absolute;
  width: 700px;
  height: 100%;
}
