<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>
    {% include js.html %}
  </head>
  <body>
    <div class="sidebar">
        <a href="/"><h1>JN</h1></a>
        <p>Maybe I'll actually write something one of these days. Or maybe this page stays blank forever.</p>
        <div class="icons">
          <div><a href="https://twitter.com/JustANguyen"><img class="icon" src="/static/twitter.png"></a></div>
          <div><a href="https://github.com/justinnguyen"><img class="icon" src="/static/github.png"></a></div>
          <div><a href="https://www.linkedin.com/pub/justin-nguyen/44/b44/827"><img class="icon" src="/static/linkedin.png"></a></div>
        </div>
    </div>
  <div class="content">
    {{ content }}
  </div>
  </body>
</html>