<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>
    {% include js.html %}
  </head>
  <body>
  <div id="topcontainer">
    <div id="divider"></div>
    <div id="navbar">
      <h1 id="title">Justin Nguyen</h1>
      <p>Engineer at Twitter by day</br> Fantasy novel scholar, wannabe martial artist, microstakes poker donkey by night</p>
      <div id="links">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/archive.html">Archive</a></li>
          <li><a href="https://twitter.com/JustANguyen">@JustANguyen</a></li>
          <li><a href="http://www.linkedin.com/pub/justin-nguyen/44/b44/827">Just[in]</a></li>
        </ul>
      </div>
    </div>
  </div>
    {{ content }}
  </body>
</html>